language: objective-c
osx_image: xcode8
xcode_project: ASMapLauncher.xcworkspace
xcode_scheme: ASMapLauncherTests
xcode_sdk: iphonesimulator9.3

branches:
 only:
 - master

before_install:
- rm -rf /Users/travis/Library/Developer/Xcode/DerivedData/ForceTouchActions-*/
- rvm use $RVM_RUBY_VERSION

install: bundle

script:
- xcodebuild -workspace ASMapLauncher.xcworkspace -scheme ASMapLauncher -destination "platform=iOS Simulator,name=iPhone 6,OS=9.3" clean test | xcpretty

after_success: slather